VITE_SUPABASE_URL=https://tlbrckkoxxmjurnawquh.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRsYnJja2tveHhtanVybmF3cXVoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA5NTE3MTQsImV4cCI6MjA5NjUyNzcxNH0.pEH2AYf3l8H4rtLPeWYQ6M5hgBG2UJGcOAyyC5NGMhI
VITE_API_URL=http://localhost:8000